<p>post works!</p>

<div>
<label for="">Title :: </label>
<input #mytitle type="text" placeholder="Enter the Title">
<br><br>
<label for="">Body :: </label>
<input #mybody type="text" placeholder="Enter the Body">
<br><br>
<button (click)="onSubmit(mytitle.value,mybody.value)">Send</button>
</div>
<hr>
<div [hidden]="ishidden">
    <label for="">Id :: </label>
<input  type="text" placeholder="Enter the Id"
    [(ngModel)]="id" readonly   
>
<br><br>
<label for="">Title :: </label>
<input  type="text" placeholder="Enter the Title"
    [(ngModel)]="title"
>
<br><br>
<label for="">Body :: </label>
<input  type="text" placeholder="Enter the Body"
    [(ngModel)]="body"
>
<br><br>
<button (click)="onFinalUpdate()"> Final Update </button>
</div>
<hr>
<table border="1px">
    <thead>
        <th>ID</th>
        <th>Action</th>
        <th>Title</th>
        <th>Body</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of post">
            <td> {{item.id}} </td>
            <td><button (click)="onUpdate(item)">Update</button>
            <button (click)="onDelete(item.id)">Delete</button>
            </td>
            <td> {{item.title}} </td>
            <td> {{item.body}} </td>
        </tr>
    </tbody>
</table>
