<p>ifdirective works!</p>

<!-- Structural directive
notation of stru.directive is *
in angular only 3 Structural directive
1 if directive
2 for directive
3 switch directive -->

<div *ngIf="rating<4">
    <h2>Condition is true!!!!</h2>
</div> <br>

<div *ngIf="rating1<4; else elsepart">
    <h2>Condition is true!!!!</h2>
</div>
<!-- <div #elsepart>
    <h2>Condition is False!!!!</h2>
</div> -->

<ng-template #elsepart>
    <h2>Condition is False!!!!</h2>
</ng-template>
<hr>

<div 
*ngIf="rating2<4;then mainpart else elsepart1 ">

</div>

<ng-template #mainpart>

        <h2>U Are in Main Part Condition is true</h2>
</ng-template>

<ng-template #elsepart1>
    
    <h2>U are in Elsepart Condition is False</h2>
</ng-template>

