<p>parent works!</p>

<!-- <app-child1 [DataFromParent]="Data" ></app-child1> -->
<!-- <app-child1 [ParaentJson]="jsonObj" [parentjson1]="jsonObj1" ></app-child1> -->
<!-- <app-child1 [ParentArrObj]="arrobj" ></app-child1> -->
<!-- <app-child1 [ParentArrObj]="arrobj"></app-child1> -->

<h2> {{childdataStr}} </h2>



<table>
    <thead>
        <th>Name</th>
        <th>id</th>
        <th>Status</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of childArrData">
            <td> {{item.fname}} </td>
            <td> {{item.id}} </td>
            <td> {{item.status}} </td>
        </tr>
    </tbody>
</table>

<hr>
<!-- <app-child2 (childevent)="childdataStr=$event"></app-child2> -->
<app-child2 
(childEvent1)="childArrData=$event">
</app-child2>
