<h1>My First Angular Application</h1>
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-event-binding2></app-event-binding2> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-switchdirective></app-switchdirective> -->
<!-- <app-parent></app-parent> -->
<!-- <app-inbuild-pipe></app-inbuild-pipe> -->
<app-custompipe></app-custompipe>